<div class="container">
<div class="row">

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= render 'users/sidebar', user: @user, book:@book %>

<div class= "col-xs-9">
<h2>Book detail</h2>
    <table class="table">
    <tr>
        <td>
            <%= attachment_image_tag @post_book.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:'50x50' %>
            <%= link_to "#{@post_book.user.name}", user_path(@post_book.user.id) %>
        </td>
        <td><%= link_to "#{@post_book.title}", book_path(@post_book.id)  %></td>
        <td><%= @post_book.body %></td>
        <% if @post_book.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_book_path(@post_book.id), class: 'btn btn-success' %></td>
            <td><%= link_to 'Destroy', book_path(@post_book.id), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        <% end %>
    </tr>
    </table>
</div>
</div>
</div>